* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

::selection {
    background-color: #00000040;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 400% 400%;
    background: linear-gradient(135deg, rgb(30,30,30), rgb(17,17,17));
    z-index: -1;
}

#text-box {
    position: absolute;
    padding: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    font-size: 2rem;
    backdrop-filter: blur(15px);
    font-family: "Outfit", serif;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 1;
}

#enter-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 1);
    font-family: "Red Hat Mono", serif;
    font-style: italic;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
}

#bottom-name {
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    font-style: italic;
    color: #ffffff40;
}

#bottom-name a {
    text-decoration: none;
    color: #ffffff40;
}

#play-pause-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.15));
    transition: all 0.3s;
    display: none;
}

#play-pause-btn:hover {
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.20));
}

#play-pause-icon {
    color: white;
}