body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
#enter-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 1);
    font-family: "Red Hat Mono", serif;
    font-style: italic;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
}
#video-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}